@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: "Quicksand";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Quicksand-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "YoureInvited";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/YoureInvited.otf) format("opentype");
  }

  html {
    font-family: "Quicksand";
  }
}
