---
import IconPin from "./IconPin.astro";
import IconPhone from "./IconPhone.astro";
import IconRemote from "./IconRemote.astro";
import Link from "./Link.astro";
import Resalib from "./Resalib.astro";
---

<aside
  class="hidden md:flex flex-col gap-4 mb-12 justify-center sticky top-0 md:top-24"
>
  <Resalib />
  <div class="flex items-center gap-2 px-3 py-2" aria-label="Téléphone">
    <IconPhone class="size-6" />
    <p>06 33 55 22 99</p>
  </div>
  <div class="flex items-center gap-2 px-3 py-2" aria-label="Skype">
    <IconRemote class="size-6" />
    <p>visio / séance à distance</p>
  </div>
</aside>
