---
import IconPin from "./IconPin.astro";
import IconPhone from "./IconPhone.astro";
import IconCalendarDays from "./IconCalendarDays.astro";
import Link from "./Link.astro";
---

<aside
  class="hidden md:flex flex-col gap-4 mb-12 justify-center sticky top-0 md:top-24"
>
  <a
    href="https://www.resalib.fr/praticien/56645-elisa-francomme-kinesiologue-albi#newrdvmodal"
    class="flex items-center gap-2 bg-accent-700 text-white font-bold px-3 py-2 rounded hover:bg-accent-600 transition-all hover:scale-105"
    target="_blank"
  >
    <IconCalendarDays class="size-6" />
    Réserver une séance
  </a>
  <Link
    href="https://maps.app.goo.gl/KC2ZVWZw9pDo8Ert5"
    target="_blank"
    class="flex gap-2 items-center px-3 py-2"
    aria-label="Adresse"
  >
    <IconPin class="size-6" />
    <p>11 avenue Albert Thomas<br />81000 Albi</p>
  </Link>
  <div class="flex items-center gap-2 px-3 py-2" aria-label="Téléphone">
    <IconPhone class="size-6" />
    <p>06 33 55 22 99</p>
  </div>
</aside>
