---
import IconPin from "./IconPin.astro";
import IconPhone from "./IconPhone.astro";
---

<footer class="flex flex-col md:hidden justify-between gap-4 mt-12">
  <div class="flex gap-2 items-center px-3 py-2" aria-label="Adresse">
    <IconPin class="size-6" />
    <p>11 avenue Albert Thomas<br />81000 Albi</p>
  </div>
  <div class="flex items-center gap-2 px-3 py-2" aria-label="Téléphone">
    <IconPhone class="size-6" />
    <p>06 33 55 22 99</p>
  </div>
</footer>
