<header class="text-center py-20 md:py-48">
  <a href="/">
    <h1
      class="text-accent-700 text-4xl md:text-6xl xl:text-8xl font-invited mb-2"
    >
      Thérapeute Corps Esprit<br />
      <small class="text-black text-2xl md:text-4xl xl:text-6xl"
        >Elisa Francomme</small
      >
    </h1>
  </a>
  <blockquote class="md:text-lg italic xl:text-2xl">
    Passer du raisonnement à la résonance :
  </blockquote>
  <blockquote class="md:text-lg italic xl:text-2xl">
    La voie du sentir
  </blockquote>
</header>
