<header class="text-center py-16 md:py-48">
  <a href="./">
    <h1 class="text-accent-700 text-4xl md:text-6xl font-invited mb-12">
      Thérapeute Corps Esprit<br />
      <small class="text-black text-2xl md:text-4xl">Élisa Francomme</small>
    </h1>
  </a>
  <blockquote class="text-lg italic">
    " Passer du raisonnement à la résonance "
  </blockquote>
</header>
