<header class="text-center py-48">
  <h1 class="text-[#B76781] text-6xl font-invited mb-12">
    Thérapeute Corps Esprit<br />
    <small class="text-black text-4xl">Élisa Francomme</small>
  </h1>
  <blockquote class="text-lg italic">
    " Passer du raisonnement à la résonance "
  </blockquote>
</header>
