---
import IconPin from "./IconPin.astro";
import IconPhone from "./IconPhone.astro";
import IconRemote from "./IconRemote.astro";
import Link from "./Link.astro";
import Resalib from "./Resalib.astro";
---

<Fragment>
  <Resalib class="md:hidden sticky top-0" />
  <div class="flex flex-col md:hidden justify-between">
    <div class="flex items-center gap-2 px-3 py-2" aria-label="Téléphone">
      <IconPhone class="size-6" />
      <p>06 33 55 22 99</p>
    </div>
    <div class="flex items-center gap-2 px-3 py-2" aria-label="Skype">
      <IconRemote class="size-6" />
      <p>visio / séance à distance</p>
    </div>
  </div>
</Fragment>
