---
import Link from "./Link.astro";
---

<nav
  class="flex flex-col mt-4 md:flex-row bg-brand-50 py-4 px-2 items-center gap-4 justify-center md:sticky md:top-0"
>
  <Link href="/proposition#page-title">Ma proposition</Link>
  <Link href="/parcours#page-title">Mon parcours</Link>
  <Link href="/boite-a-outils#page-title">Ma boîte à outils</Link>
  <Link href="/bibliotheque#page-title">Ma bibliothèque & vidéothèque</Link>
</nav>
