---
import Link from "./Link.astro";
---

<nav
  class="bg-brand-200 py-4 px-2 flex items-center gap-4 justify-center mb-12 sticky top-0"
>
  <Link href="/proposition">Ma proposition</Link>
  <Link href="/parcours">Mon parcours</Link>
  <Link href="/boite-a-outils">Ma boîte à outils</Link>
  <Link href="/bibliotheque">Ma bibliothèque & vidéothèque</Link>
</nav>
