---
import Link from "./Link.astro";
---

<nav
  class="flex flex-col md:flex-row bg-brand-50 py-4 px-2 items-center gap-4 justify-center mb-12 md:sticky md:top-0"
>
  <Link href="/proposition">Ma proposition</Link>
  <Link href="/parcours">Mon parcours</Link>
  <Link href="/boite-a-outils">Ma boîte à outils</Link>
  <Link href="/bibliotheque">Ma bibliothèque & vidéothèque</Link>
</nav>
