---
interface Props {
  class?: string;
}

import IconCalendarDays from "./IconCalendarDays.astro";

const { class: className } = Astro.props;
---

<!-- RESALIB BADGE -->
<script>
  (function (d, s, id) {
    const fjs = d.getElementsByTagName(s)[0] as any;
    if (d.getElementById(id)) return;
    const js = d.createElement(s) as HTMLScriptElement;
    js.id = id;
    js.src = "https://www.resalib.fr/script/56645/badge.js";
    fjs.parentNode.insertBefore(js, fjs);
  })(document, "script", "resalib-sdk");
</script>
<div class={`rlb-badge ${className}`}>
  <a
    target="_blank"
    class="rlb-rdv"
    onclick="goog_report_conversion('https://www.resalib.fr/praticien/56645-elisa-francomme-kinesiologue-albi#newrdvmodal')"
    href="https://www.resalib.fr/praticien/56645-therapeute-corps-esprit-elisa-francomme-therapeute-psychocorporel-albi"
  >
    <div
      class="flex items-center gap-2 bg-accent-700 text-white font-bold px-3 py-2"
    >
      <IconCalendarDays class="size-6" />
      Prendre rendez-vous
    </div>
  </a>
</div>
<!-- RESALIB BADGE -->
