---
interface Props {
  frontmatter: { title: string };
}

const { frontmatter } = Astro.props;

import "../styles/tailwind.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Aside from "../components/Aside.astro";
import HeaderMobile from "../components/HeaderMobile.astro";
import Branch from "../components/Branch.astro";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Thérapeute Corps Esprit, Elisa Francomme"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/YoureInvited.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Quicksand-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title} | Elisa Francomme</title>
  </head>
  <body
    class="bg-gradient-to-b from-brand-200 to-brand-100 min-h-lvh text-black"
  >
    <Branch class="absolute right-0 top-48 md:top-44 xl:top-24 2xl:top-12" />
    <Branch
      class="absolute left-0 -top-8 -scale-x-100 md:-top-40 xl:-top-56 2xl:-top-16"
    />

    <Header />
    <Navigation />
    <HeaderMobile />

    <div
      class="w-fit mt-12 px-2 mx-auto md:grid md:items-start md:gap-8 md:grid-cols-[max-content_1fr]"
    >
      <Aside />
      <main class="pb-8">
        <article class="prose text-justify prose-brand">
          <slot />
        </article>
      </main>
    </div>
  </body>
</html>
